header {
  padding-bottom: 20px;
  color: #333;
}

header img {
  width: 15%;
  float: left;
  padding-right: 50px;
}

.main {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}
.main h2 {
  font-size: 40px;
  font-style: oblique;
  color: saddlebrown;
  /* text-shadow: 2px 2px 4px #000000; */
  float: left;
  width: 100%;
}
.flex-container {
  flex-grow: 5;
}
.main button {
  height: 40%;
  width: 5%;
}
header h3 {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  color: saddlebrown;
  float: left;
  margin: 1px;
  /* margin: 20px 0;
    padding-left: 17%; */
}

.main .search-container {
  float: right;
  width: 50%;
}

.main input[type="text"] {
  padding: 10px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 70%;
}

.main .search-container button {
  float: right;
  padding: 10px 15px;
  margin-top: 10px;
  margin-right: 20%;
  background: #ccc;
  font-size: 17px;
  border: none;
  cursor: pointer;
  width: 10%;
}

.main .search-container button:hover {
  background: saddlebrown;
}

@media screen and (max-width: 600px) {
  .main .search-container {
    float: none;
  }
  .main a,
  .topnav input[type="text"],
  .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .main input[type="text"] {
    border: 1px solid #ccc;
  }
}

nav {
  margin: 0 auto;
  background: #fff;
  padding: 30px 0;
  box-shadow: 0px 5px 0px #dedede;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav ul li a:hover {
  color: #555;
}

/* SHIFT */
nav.shift ul li a {
  position: relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: #91640f;
}
nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: ".";
  color: transparent;
  background: rgb(65, 28, 1);
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.footer-clean {
  padding: 50px 0;
  background-color: #fff;
  color: #4b4c4d;
}

.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-clean ul a:hover {
  opacity: 1;
}

.footer-clean .item.social {
  text-align: right;
}

@media (max-width: 767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align: center;
  }
}

.footer-clean .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item.social > a:hover {
  opacity: 0.9;
}

@media (max-width: 991px) {
  .footer-clean .item.social > a {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
}

.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}
